//////////////////////////////
// Default Base Style
//////////////////////////////

$base-font-size-p: 16px;
$base-font-family: 'Fira Sans', sans-serif;
$backup-font: Arial, Helvetica, sans-serif;

//////////////////////////////
// Default Breakpoints
//////////////////////////////

$breakpoint-phone:480px;
$breakpoint-md-phone:576px;
$breakpoint-lg-phone:768px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1300px;


//////////////////////////////
// Default colors
//////////////////////////////
$bg-grey: #f5f5f5;
$dark-grey: #6d6d6d;
$green-border: #268559;
$chkmark-grey: #7c7c7c;
$light-grey: #f1f1f1;
$white-color: #ffffff;
$medium-grey: #ddd;
$grey-hover: #efefef;
$red-btn-color: #dc3c00;
$grey-disable: #bfbfbf;